.head_img
{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 580px;
   border-color: green;
   align-self: center;
	
   
}

img 
{
	
   width: 70px;
   border-radius:100px;
   border-color:green;
   border-style: double;
  
}
.paragraph
{
	font-size: 20px;
	COLOR:GREEN;
	
}
.input
{
	
	font-size: 15px;
	border: 1px SOLID rgb(151, 241, 128);
	width: 20%;
    border-radius: 4px;
	border-style: inset;
	COLOR:black;
	margin: 8px 0px;
	padding:12px 20px;
	display:inline-block;
	box-sizing: border-box;
	letter-spacing: 2px;
}
	A
	{
		FONT-SIZE: 20PX;
		COLOr:rgb(133, 226, 97);
	}
	a:hover{

		color:blue;
	}

	.btn {
		background-color: rgb(1, 38, 75);
		border: none;
		color: rgb(245, 248, 245);
		padding: 12px 16px;
		font-size: 16px;
		cursor: pointer;
	  }
	  .btn:hover {
		background-color: RoyalBlue;
	  }

	  .table{

		border-radius: 10px;
		width: 100%;
		align-self: center;
		margin: auto;
		text-align: center;
	}

	.input1{

		font-size: 15px;
		border: 1px SOLID rgb(151, 241, 128);
		width: 8%;
		border-radius: 4px;
		border-style: inset;
		COLOR:rgb(63, 84, 205);
		margin: 8px 0px;
		padding:12px 20px;
		display:inline-block;
		box-sizing: border-box;
		color:black;
		letter-spacing: 2px;
	
	}
	.input1:hover{

		background-color: rgb(151, 241, 128);
		color:white;
	}
